# Node
node_modules/
dist/
.env
.vscode/
.idea/
.DS_Store


# Python
__pycache__/
*.pyc
.env
*.log
code/
backend/scripts/
*.tar
*.txt
*.jpg
*.webp
*.mp4
*.svg
*.png
*.db
*.dxf


# OS
Thumbs.db

# Frontend 
backend/public/
backend/public — копия/
src/assets
/Описание + схемы